---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="New Blog">
    <div class="w-full flex flex-col justify-center items-center">
        <div class="w-full flex flex-col lg:w-4/5 lg:flex-row justify-center items-center align-middle my-4">
            <Hero/>
            <Hero/>
        </div>
        <div class="w-full flex flex-col lg:w-4/5 lg:flex-row justify-center items-center align-middle my-4">
            Featured Blogs
        </div>
    </div>
</Layout>