<!-- Width To be changed when aside is complete -->
<div class="w-full p-3">
    <div class="w-full flex flex-col justify-start align-middle items-center shadow-sm p-4">
        <div>
        <img src="/images/image-web-3-desktop.jpg" alt="Hero Image" class="hidden lg:block object-cover">
        <img src="/images/image-web-3-mobile.jpg" alt="Hero Image Mobile" class="block lg:hidden object-cover">
        </div>
        <div class="flex flex-col lg:flex-row justify-between align-middle items-start gap-1">
            <div class="w-full lg:w-1/2 my-4">
                <h1 class="font-extrabold text-5xl">The Bright Future of Web 3.0</h1>
            </div>
            <div class="w-full lg:w-1/2 my-4 h-auto flex flex-col justify-center align-middle items-between">
                <div class="text-sm">
                    <p>We dive into the next evolution of the web that claims to put the power of tthe platforms back into
                    the hands of the people. But is it really fulfiling its promise?</p>
                </div>
                <div class="flex flex-col justify-end items-start mt-5"><button type="button" class="bg-black text-white py-2 px-4">Read More</button></div>
            </div>
        </div>
    </div>
</div>